.App {
  text-align: center;
  /* background-color: papayawhip; */
}

.dark-mode__toggle {
  background: papayawhip;
  border-radius: 50px;
  border: 1px solid black;
  height: 20px;
  position: relative;
  width: 40px;
}

.toggle {
  background: black;
  border-radius: 50px;
  height: 18px;
  left: 0;
  position: absolute;
  transition: 0.2s;
  width: 20px;
  margin-left: 50px;
}

.toggled {
  left: 18px;
}

.dark-mode {
  color: #fff;
  background-color: #313843;
}

.switch {
  margin-left: 50px;
  width: 36px;
  height: 18px;
  background-color: blue;
  border-radius: 50px;
}

.topNav {
  /* display: flex; */
  text-align: left;
}

h4 {
  margin: 12px;
}
